<?xml version="1.0" encoding="UTF-8"?>
<com.openpanel.opencore.module>
	<name>MySQLBackup.module</name>
	<uuid>a274ee63-2853-4e20-8af7-bb8506aef301</uuid>
	<version>1.0</version>
	<license>GPLv3</license>
	<author>Karl White</author>
	<url>http://www.charisma-studios.com</url>
	<languages en_EN=""/>
	<implementation>
		<apitype>commandline</apitype>
		<getconfig>false</getconfig>
	</implementation>
	<classes>
		<class id="MySQLBackup">
			<uuid>37d2e104-a6d7-4d13-9b64-1b28a9318b88</uuid>
			<version>1.0</version>
			<indexing>manual</indexing>
			<requires>MySQL:Database</requires>
			<uniquein>parent</uniquein>
			<shortname>DB Snapshots</shortname>
			<title>Database Snapshots</title>
			<description>Create a backup of a MySQL database</description>
			<emptytext>'Database Snapshots' are automated backups of a database. By frequently backing up your databases you can easily recover them in the unfortunate event of data loss.</emptytext>
			<capabilities create="true" delete="true" update="true"/>
			<singleton>mysqlbackup</singleton>
			<parameters>
				<p id="enabled" enabled="true" visible="true" required="true" type="bool" default="true" gridhide="true">Enabled</p>
				<p id="name" enabled="true" visible="true" required="true" type="string" regexp="^[a-zA-Z0-9-_]*$" gridwidth="50">Snapshot Name</p>
				<p id="frequency" enabled="true" visible="true" required="true" type="enum" default="Daily" gridwidth="25">Snapshot Frequency</p>
				<p id="email" enabled="true" visible="true" required="true" type="string" example="webmaster@example.com" default="webmaster@example.com" gridwidth="25">Email Address</p>
			</parameters>
		</class>
		<class id="MySQLSnapshots">
			<uuid>7a4e3317-16a2-4c11-9481-72024b53d38b</uuid>
			<version>1.0</version>
			<indexing>manual</indexing>
			<requires>MySQLBackup</requires>
			<uniquein>class</uniquein>
			<dynamic>true</dynamic>
			<shortname>Snapshot Archive</shortname>
			<title>Snapshot Archive</title>
			<gridheight>180</gridheight>
			<description>snapshot archive</description>
			<emptytext>No database snapshots</emptytext>
			<capabilities update="true" delete="true" listobjects="true"/>
			<parameters>
				<p id="index" enabled="false" visible="true" required="false" type="integer" gridwidth="5" default="0" clihide="true" gridlabel="#">Snapshot Index</p>
				<p id="id" enabled="true" visible="true" required="false" type="string" regexp="^[a-zA-Z0-9-_]*$" gridwidth="30" default="none">Snapshot Name</p>
				<p id="time" enabled="false" visible="true" required="false" type="string" gridwidth="15" default="none">Time</p>
				<p id="date" enabled="false" visible="true" required="false" type="string" gridwidth="30" default="none">Date</p>
				<p id="restore" enabled="true" visible="true" required="true" type="bool" gridwidth="10" default="false" gridhide="true">Restore</p>
			</parameters>
		</class>
	</classes>
	<enums>
		<enum id="frequency">
			<value id="Hourly" val="Hourly">Hourly</value>
			<value id="Daily" val="Daily">Daily</value>
			<value id="Weekly" val="Weekly">Weekly</value>
			<value id="Monthly" val="Monthly">Monthly</value>
		</enum>
	</enums>
	<authdops>
		<fileops>
			<fileop pattern="*" user="root" group="root" perms="0755">*</fileop>
			<fileop pattern="/*" user="root" group="root" perms="0755">/*</fileop>
		</fileops>
		<scripts>
			<script id="mysql-operation"/>
		</scripts>
		<objects>
			<object id="mysql.pwd">/etc/openpanel/mysql.pwd</object>
		</objects>
	</authdops>
</com.openpanel.opencore.module>
