<?xml version="1.0" encoding="UTF-8"?>
<com.openpanel.opencore.module>
	<name>MySQLBackup.module</name>
	<uuid>a274ee63-2853-4e20-8af7-bb8506aef301</uuid>
	<version>1.0</version>
	<license>GPLv3</license>
	<author>Karl White</author>
	<url>http://www.charisma-studios.com</url>
	<languages en_EN=""/>
	<implementation>
		<apitype>commandline</apitype>
		<getconfig>false</getconfig>
	</implementation>
	<classes>
		<class id="MySQLBackup">
			<uuid>37d2e104-a6d7-4d13-9b64-1b28a9318b88</uuid>
			<version>1.0</version>
			<indexing>manual</indexing>
			<requires>MySQL:Database</requires>
			<uniquein>parent</uniquein>
			<shortname>DB Snapshots</shortname>
			<title>Database Snapshots</title>
			<description>Create a backup of a MySQL database</description>
			<emptytext>'Database Snapshots' are automated backups of a database. By frequently backing up your databases you can easily recover them in the unfortunate event of data loss.</emptytext>
			<capabilities create="true" delete="true" update="true"/>
			<singleton>mysqlbackup</singleton>
			<parameters>
				<p id="enabled" enabled="true" visible="true" required="true" type="bool" default="true" gridhide="true">Enabled</p>
				<p id="name" enabled="true" visible="true" required="true" type="string" regexp="^[a-zA-Z0-9-_]*$" gridwidth="50">Snapshot Name</p>
				<p id="frequency" enabled="true" visible="true" required="true" type="enum" default="Daily" gridwidth="25">Snapshot Frequency</p>
				<p id="email" enabled="true" visible="true" required="false" type="string" example="webmaster@example.com" default="webmaster@example.com" gridwidth="25">Email Address</p>
			</parameters>
		</class>
	</classes>
	<enums>
		<enum id="frequency">
			<value id="Hourly" val="Hourly">Hourly</value>
			<value id="Daily" val="Daily">Daily</value>
			<value id="Weekly" val="Weekly">Weekly</value>
			<value id="Monthly" val="Monthly">Monthly</value>
		</enum>
	</enums>
	<authdops>
		<fileops>
			<fileop pattern="*" user="root" group="root" perms="0755">*</fileop>
			<fileop pattern="/*" user="root" group="root" perms="0755">/*</fileop>
		</fileops>
		<commands>
			<command id="installfile"/>
			<command id="deletefile"/>
		</commands>
		<scripts>
			<script id="install-single-file"/>
		</scripts>
	</authdops>
</com.openpanel.opencore.module>
